.container{
    text-align: center;
}
input{
    width: 25%;
    margin: auto;
    border: 2px solid;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    /* padding: 0.5rem; */
}
#execute-btn{
    font-size: large;
    margin: 2rem;
}

